.pagination
    .container
        a(href="#").pagination__controll.pagination__controll-left
        ul.pagination__list
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
                li.pagination__item
                    a(href="#").pagination__link= val
        a(href="#").pagination__controll.pagination__controll-right            