.content-wrapper{
    .container{
        background: #FFF;
    }
}

.sidebar{
    float: left;
    width: 25%;
}

.content{
    float: right;
    width: 75%;
    border-left: 1px solid #e7e7e7;
}

.product__item{
    @include clearfix;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

.product__slideshow {
    float: left;
    width: 30%;
    padding: 25px;
}

.product__description{
    float: left;
    width: 45%;
    
    &:before{
        content: "";
        position: absolute;
        left: 30%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #e7e7e7;
        display: block;
    }
}


.slideshow__display{
    height: 235px;
    position: relative;
}

.slideshow__display-img{
    @include absolute-center;
    max-width: 95%;
    max-height: 95%;
}

.slideshow__thumbs {
    @include clearfix;
}

.slideshow__thumbs-item{
    float: left;
    width: 25%;
}

.slideshow__thumbs-link{
    display: block;
    height: 54px;
    position: relative;
    
    img{
        display: block;
        @include absolute-center;
        max-height: 100%;
        max-width: 100%;
    }
}

.product__description{
    padding: 40px 25px;
}

.product__title {
    margin-top: 0;
    font-weight: normal;
    @include helvetica(light);
    font-size: 24px;
    margin-bottom: 25px;
}

.desc-content__list{
    font-size: 14px;
    color: #3676767;
    
    li{
        margin-bottom: 10px;
    }
}

.product__price{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    padding: 20px;
    font-size: 24px;
}

.product__price-inner{
    border: 1px solid #e7e7e7;
    height: 100%;
    padding: 20px;
    position: relative;
}

.product__price-buy{
    position: absolute;
    bottom: 20px;
    display: block;
    padding: 10px 40px;
    color: #FFF;
    background: orange;
    @include border-radius(50px);
    @include helvetica(medium);
    font-size: 20px;
}


/*------------------------------------------------*/

.categories__item{
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    
}

.categories__link{
    padding: 10px 20px;
    display: block;
    color: #2e2e2e;
    font-size: 15px;
    padding-right: 50px;
}

.categories__icon{
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    text-align: center;
     
}

.categories__text{
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
    width: 80%;
    
    &:hover{
        color: orange;
    }
}

.categories__count{
    position: absolute;
    right: 10px;
    line-height: 16px;
    top:50%;
    margin-top: -8px;
    color: #2e2e2e;
    opacity:0.5;
}























